:root {
  --main-bg-color: brown;
  --color-primary-font: #29292e;
  --color-black-pearl: #1e272e;
  --color-low-white: #f8f8f8;
  --color-white: #fff;
  --color-red: #ea4335;
  --color-low-gray: #a8a8b3;
}

* {
  font-family: "Poppins";
  user-select: none;
}
